/** Internal styling **/
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic,latin-ext,greek,greek-ext,cyrillic-ext);

chat-room {
  color: white;
  background: black;
  font-family: 'Ubuntu Mono';
  font-size: 12pt;
}

chat-message {
  display: block;
}

chat-message:before {
	content: attr(user) ':';
  color: #07f;
  padding-right: 9px;
  padding-left: 9px;
}

chat-log {
  position: absolute;
  bottom: 36px;
  top: 0;
  right: 0;
  left: 0;
  padding: 9px;
  overflow: auto;
}

chat-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
}

chat-form input[type="submit"] {
  display: none;
}

chat-form > form {
  display: flex;
  align-items: center;
}

chat-form input::selection {
  background: fuchsia;
}

chat-form input.username {
  background: #222;
  width: 150px;
  color: white;
  font-family: 'Ubuntu Mono';
  font-size: 12pt;
  border: none;
  outline: none;
  padding: 9px;
}

chat-form input.message {
  background: #222;
  flex-grow: 2;
  width: 100%;
  color: white;
  font-family: 'Ubuntu Mono';
  font-size: 12pt;
  border: none;
  outline: none;
  padding: 9px;
}
